In [4]:
##Q1. Create one variable containing following type of data:(i) string(ii) list(iii) float(iv) tuple
 
a = "Hello"
b = [1,2,3,4]
c = 2.999
d = (1,2,3,4)

##Q2. Given are some following variables containing data:
##(i) var1 = ‘ ‘ - Str
##(ii) var2 = '[ DS , ML , Python]' -str
##(iii) var3 = [ 'DS' , 'ML' , 'Python' ] - list
##(iv) var4 = 1. - float

##Q3. Explain the use of the following operators using an example:
(i) /  - The / operator is used for division in Python. It performs floating-point division, which means it returns the result as a float
(ii) % - The % operator calculates the remainder of the division between two numbers. It returns the remainder after dividing the left operand by the           right operand.
(iii) // - The // operator performs floor division, which returns the largest integer less than or equal to the division result. It discards the                  fractional part of the division
(iv) ** - The ** operator raises the left operand to the power of the right operand.

In [28]:
##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
l = [1,2,3,4,"rak", 1+2j, 2.333,(1,2,3),"class",0]
print (len(l))
for i in l:
    print (i,type(i))

10
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
rak <class 'str'>
(1+2j) <class 'complex'>
2.333 <class 'float'>
(1, 2, 3) <class 'tuple'>
class <class 'str'>
0 <class 'int'>

In [ ]:
##Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
Count = 0
while A % B == 0:
    A = A / B  # Divide A by B
    count += 1  # Increment the count by 1

print("A is divisible by B {count} times.")

In [57]:
##Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
lis = list(range(1,26))
for i in lis:
    if i % 3 == 0:
        print("{} is divisible by 3".format(i))
    else:
        print("{} is not divisible by 3".format(i))

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

##Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
A:    immutable data types are those whose values cannot be modified after they are created. Ex : tuple
      Mutable data types are those that allow in-place modifications of their values. Ex: list

In [64]:
l = [1,2,3,4]
l[0]=6
l

[6, 2, 3, 4]

In [63]:
t = (2,3,5,6)
type(t)

tuple

In [66]:
t[0] = 9

TypeError: 'tuple' object does not support item assignment