In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
# A : A database is a collection of data that is organized so that it can be easily accessed, managed, and updated
#     SQL databases are relational databases. This means that data is stored in tables, which are made up of rows and columns. Each row represents a single record, and each column represents a single piece of data about that record. 
#     NoSQL databases are non-relational databases. This means that data is not stored in tables, but in other ways, such as key-value pairs, documents, or graphs. NoSQL databases are often used for storing large amounts of unstructured data

In [2]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#  A : DDL stands for Data Definition Language. It is a set of SQL commands that are used to define the structure of a database. DDL commands are used to create, alter, and drop database objects, such as tables, views, and stored procedures.
#      CREATE : This command is used to create new database objects. For example, the following command creates a new table called customers:
   # CREATE TABLE customers (
#   customer_id INT NOT NULL,
#   first_name VARCHAR(255) NOT NULL,
#   last_name VARCHAR(255) NOT NULL,
#   email VARCHAR(255) NOT NULL
#     );

In [3]:
# DROP: This command is used to delete database objects.
# DROP TABLE customers;
# ALTER: This command is used to modify database objects.
# ALTER TABLE customers ADD COLUMN phone_number VARCHAR(255);
# TRUNCATE: This command is used to delete all rows from a table. Unlike the DROP command, the TRUNCATE command does not delete the table structure.
# TRUNCATE TABLE customers;

In [4]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to interact with a database and perform operations such as inserting, updating, and deleting data

# INSERT: The INSERT statement is used to add new rows of data into a table.
# Example : INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
# VALUES (1, 'John', 'Doe', 'john.doe@example.com');

# UPDATE: The UPDATE statement is used to modify existing data in a table
# UPDATE Customers
# SET Email = 'newemail@example.com'
# WHERE CustomerID = 1;

# DELETE: The DELETE statement is used to remove data from a table
# DELETE FROM Customers
# WHERE CustomerID = 1;

In [5]:
# Q4. What is DQL? Explain SELECT with an example.
# A : DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary command used in DQL is SELECT, which allows you to query the database and retrieve specific data based on specified conditions.
# Example : 
# SELECT FirstName, LastName, Email
# FROM Customers
# WHERE Country = 'USA';

In [6]:
# Q5. Explain Primary Key and Foreign Key.
# Ans : Primary keys and foreign keys are two important concepts in SQL that are used to maintain the relationships between tables.

# A primary key is a column or group of columns in a table that uniquely identifies each row in the table. A primary key cannot contain duplicate values, and it cannot be NULL.

# A foreign key is a column or group of columns in a table that references the primary key of another table. A foreign key is used to establish a relationship between two tables. The foreign key column must contain the same values as the primary key column in the referenced table.

# For example, let's say we have a table called customers that has a primary key called customer_id. We also have a table called orders that has a foreign key called customer_id. 
# The customer_id column in the orders table must contain the same values as the customer_id column in the customers table. 
# This ensures that each order is associated with a unique customer.

In [ ]:
# # Q6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# A : import mysql.connector

# # Establish the connection
# cnx = mysql.connector.connect(
#     host="localhost",
#     user="your_username",
#     password="your_password",
#     database="your_database"
# )

# # Create a cursor object
# cursor = cnx.cursor()

# # Execute a query
# query = "SELECT * FROM your_table"
# cursor.execute(query)

# # Fetch the results
# results = cursor.fetchall()

# # Process the results
# for row in results:
#     # Perform required operations with the data
#     print(row)

# # Close the cursor and connection
# cursor.close()
# cnx.close()

In [ ]:
# cursor() method: This method creates a cursor object that allows you to execute SQL statements and retrieve results from the database. 
# execute() method: This method is used to execute an SQL query or command. It takes the SQL statement as a parameter and executes it using the cursor object.

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# A : The order of execution of clauses in an SQL query generally follows the sequence below:

# FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

# JOIN: If the query involves joining multiple tables, the JOIN clause specifies how the tables are related and how the data should be combined.

# WHERE: The WHERE clause filters the rows based on specified conditions, allowing you to retrieve only the rows that meet certain criteria.

# GROUP BY: The GROUP BY clause is used to group rows based on specified columns. It is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

# HAVING: The HAVING clause filters the groups created by the GROUP BY clause based on specified conditions. It allows you to filter the grouped data further.

# SELECT: The SELECT clause specifies the columns to be included in the result set. It determines which data will be retrieved from the tables.

# DISTINCT: The DISTINCT keyword eliminates duplicate rows from the result set, keeping only the unique rows.

# ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns, either in ascending (ASC) or descending (DESC) order.