In [8]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
llist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(llist)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
#Q3 Create a Pandas DataFrame that contains the following data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# A : In Pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns. It is a primary data structure used for data manipulation and analysis. A DataFrame can be seen as a collection of Pandas Series, where each Series represents a column.
#     A Pandas Series, on the other hand, is a one-dimensional array-like object that can store data of any type. It is often considered as a single column of a DataFrame.

In [7]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['John', 'Jane', 'Mike'],
    'Age': [25, 30, 35],
    'Gender': ['Male', 'Female', 'Male']
}

df = pd.DataFrame(data)

# Example Series
name_series = df['Name']

print("DataFrame:")
print(df)
print("\nSeries:")
print(name_series)

DataFrame:
   Name  Age  Gender
0  John   25    Male
1  Jane   30  Female
2  Mike   35    Male

Series:
0    John
1    Jane
2    Mike
Name: Name, dtype: object

In [ ]:
# # Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
# # A: head() and tail(): These functions are used to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are helpful to quickly inspect the structure and contents of the DataFrame.

# info(): This function provides a summary of the DataFrame, including the column names, data types, and non-null values. It gives an overview of the data types and allows you to identify missing or inconsistent data.

# describe(): It generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It helps in understanding the distribution and basic statistics of the data.

# shape: This attribute returns a tuple representing the dimensions (rows, columns) of the DataFrame. It allows you to check the size of the DataFrame.

# fillna(): This function is used to fill missing values in the DataFrame with specified values or strategies. It helps in handling missing data by replacing NaN values with meaningful or appropriate values.

# drop(): This function is used to remove specified rows or columns from the DataFrame. It allows you to eliminate unnecessary or redundant data.

In [9]:
# Example DataFrame
data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [100, 200, None, 150]
}

df = pd.DataFrame(data)

# Fill missing values with 0 and calculate total sales
total_sales = df['Sales'].fillna(10).sum()

print("Total Sales:", total_sales)

Total Sales: 460.0

In [10]:
# Q6.Which of the following is mutable in nature Series, DataFrame, Panel?
# A
# # In Pandas:

# # Series: A Pandas Series is mutable. You can modify its values by assigning new values to specific indices or using methods like loc or at to access and update elements.

# # DataFrame: A Pandas DataFrame is also mutable. You can modify its data by assigning new values to specific cells, adding or removing columns, or using various DataFrame manipulation methods.

# # Panel: However, Panel is an older data structure in Pandas that has been deprecated in favor of other data structures like Series and DataFrame. Panel is considered to be immutable. Once created, you cannot modify its contents or structure.

In [11]:
# Q7. Createa DataFrame using multiple Series. Explain with an example.
# A 
import pandas as pd

# Creating Series objects
country_series = pd.Series(['USA', 'Canada', 'Germany', 'France'])
population_series = pd.Series([328.2, 37.6, 83.0, 67.0])
capital_series = pd.Series(['Washington D.C.', 'Ottawa', 'Berlin', 'Paris'])

# Creating DataFrame using Series
data = {
    'Country': country_series,
    'Population (Millions)': population_series,
    'Capital': capital_series
}

df = pd.DataFrame(data)
print(df)

   Country  Population (Millions)          Capital
0      USA                  328.2  Washington D.C.
1   Canada                   37.6           Ottawa
2  Germany                   83.0           Berlin
3   France                   67.0            Paris