In [1]:
# # Q1. List any five functions of the pandas library with execution.
# Pandas.DataFrame() Creates a new DataFrame.
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df)

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   35     Paris

In [3]:
# DataFrame.head() - Returns the first n rows of a DataFrame.
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df.head(2))

   Name  Age      City
0  John   25  New York
1  Jane   30    London

In [5]:
# DataFrame.info() - Provides a summary of the DataFrame, including the column names, data types, and non-null values.
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [6]:
# DataFrame.describe() - Generates descriptive statistics of the DataFrame, such as count, mean, min, max, and quartiles.
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df.describe())

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [7]:
# DataFrame.drop() - Removes specified rows or columns from the DataFrame.
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
df.drop('City', axis=1, inplace=True)
print(df)

   Name  Age
0  John   25
1  Jane   30
2  Mike   35

In [8]:
# Q2 Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    df.index = new_index
    return df

# Example usage:
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)
print(reindex_dataframe(df))

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [10]:
# Q3 You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. Thefunction should print the sum to the console.
import pandas as pd

def calculate_sum_of_first_three(df):
    values_column = df['Values']
    sum_of_first_three = values_column.head(3).sum()
    print("Sum of the first three values:", sum_of_first_three)

# Example usage:
data = {'Values': [100, 120, 130, 40, 50]}
df = pd.DataFrame(data)
calculate_sum_of_first_three(df)

Sum of the first three values: 350

In [11]:
# # Q4  Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example usage:
data = {'Text': ['This is a sample text', 'Another text example', 'Short text']}
df = pd.DataFrame(data)
print(add_word_count_column(df))

                    Text  Word_Count
0  This is a sample text           5
1   Another text example           3
2             Short text           2

In [12]:
# # Q5. How are DataFrame.size() and DataFrame.shape() different?
# DataFrame.size returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns.
# DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame.

In [1]:
#Q6.Which function of pandas do we use to read an excel file?

In [4]:
#Example 
import pandas as pd

df = pd.read_csv('services.csv')

In [7]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new colum 'Username' in df that contains only the username part of each email address.
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example usage:
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'mike@example.com']}
df = pd.DataFrame(data)
print(extract_username(df))

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2        mike@example.com        mike

In [8]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
#all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
#function should return a new DataFrame that contains only the selected rows.
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
data = {'A': [3, 7, 2, 9, 6],
        'B': [8, 4, 5, 11, 2],
        'C': [12, 15, 8, 6, 9]}
df = pd.DataFrame(data)
selected_df = select_rows(df)
print(selected_df)

   A  B   C
1  7  4  15
4  6  2   9

In [9]:
#Q9 Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

import pandas as pd

def calculate_stats(df):
    values_column = df['Values']
    mean_value = values_column.mean()
    median_value = values_column.median()
    std_dev = values_column.std()
    return mean_value, median_value, std_dev

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
mean, median, std_dev = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [10]:
# # Q10 Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.


import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage:
data = {'Date': pd.date_range('2023-01-01', periods=10),
        'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}
df = pd.DataFrame(data)
df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     20           15.0
2 2023-01-03     30           20.0
3 2023-01-04     40           25.0
4 2023-01-05     50           30.0
5 2023-01-06     60           35.0
6 2023-01-07     70           40.0
7 2023-01-08     80           50.0
8 2023-01-09     90           60.0
9 2023-01-10    100           70.0

In [1]:
# #Q11.Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.

# A: import pandas as pd

# def add_weekday_column(df, date_column_name='Date', new_column_name='Weekday'):
#     df[new_column_name] = df[date_column_name].dt.weekday_name
#     return df

In [ ]:
# # Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# # function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
# # Anwser : 
# import pandas as pd

# def select_rows_between_dates(df, date_column_name='Date', start_date='2023-01-01', end_date='2023-01-31'):
#     df[date_column_name] = pd.to_datetime(df[date_column_name])  # Convert the column to datetime if it's not already
#     mask = (df[date_column_name] >= start_date) & (df[date_column_name] <= end_date)
#     selected_rows = df[mask]
#     return selected_rows

In [2]:
# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?
# Anwser :
# The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. The pandas library provides the DataFrame data structure and various data manipulation functions.

import pandas as pd